:root {
  --o-ALL-title-4-font-family: "Elice DigitalBaeum OTF", Helvetica;
  --o-ALL-title-4-font-weight: 700;
  --o-ALL-title-4-font-size: 18px;
  --o-ALL-title-4-letter-spacing: -0.45px;
  --o-ALL-title-4-line-height: 140%;
  --o-ALL-title-4-font-style: normal;
}
